<div class="container mx-auto px-4 py-6">
  <!-- Centered Container -->
  <div class="flex flex-col items-center space-y-6">
    <!-- Login Text -->
    <div class="flex-shrink-0">
      <h2 class="text-2xl font-bold">Log in</h2>
    </div>
    <!-- Login Form -->
    <div> <!-- Ensures the form does not exceed the max-width -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
        <div class="mb-4">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center mb-4">
            <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
        <% end %>
        <div class="flex items-center justify-between">
          <%= f.submit "Log in", class: "w-full px-4 py-2 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Devise Shared Links -->
  <div class="mt-6 text-center text-sm text-gray-500">
    <%= render "devise/shared/links" %>
  </div>
</div>
